.full {
    background: url(../img/Star_Wars_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

#footer_user {
    position:absolute;
    bottom:0;
    margin-left: 10%;
    width:80%;
}

.background-app {
    background-color: rgba(0, 0, 0, 0.8);
}

.round-button {
    border-radius: 50%;
}

.pad-space {
    padding-bottom: 1%;
    padding-top: 1%;
}

.effect-transparent {
    background-color: rgba(205, 205, 205, 0.51);
}

.full-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.center-pad {
    padding-left: 25%;
    padding-right: 25%;
}

.down-decale {
    margin-top: 2%;
}

.up-decale {
    padding-bottom: 1%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-white {
    color: white;
}

body {
    padding-top: 70px;
    background-color: transparent;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.descGroupe:hover, .descGroupe:focus {
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.alert {
    padding-left: 3%;
    max-width: 25%;
}

.popover {
    width: 500px;
    height: auto;
}

#liste-children, .list-group {
    height: 100px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* classe de couleurs personnalisée */
:root {
    --color-error: #eea096;
    --color-default: #ffffff;
    --color-success: #97d58c;
}
